<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<string>战士</string>
	<key>2</key>
	<string>圣骑士</string>
	<key>3</key>
	<string>猎人</string>
	<key>4</key>
	<string>潜行者</string>
	<key>5</key>
	<string>牧师</string>
	<key>6</key>
	<string>死亡骑士</string>
	<key>7</key>
	<string>萨满</string>
	<key>8</key>
	<string>法师</string>
	<key>9</key>
	<string>术士</string>
	<key>11</key>
	<string>德鲁伊</string>
</dict>
</plist>
