<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>1</key>
		<string>人类</string>
		<key>2</key>
		<string>兽人</string>
		<key>3</key>
		<string>矮人</string>
		<key>4</key>
		<string>暗夜精灵</string>
		<key>5</key>
		<string>不死族</string>
		<key>6</key>
		<string>牛头人</string>
		<key>7</key>
		<string>侏儒</string>
		<key>8</key>
		<string>巨魔</string>
		<key>9</key>
		<string>地精</string>
		<key>10</key>
		<string>血精灵</string>
		<key>11</key>
		<string>德莱尼</string>
		<key>22</key>
		<string>狼人</string>
	</dict>
</plist>
