<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<string>Warrior</string>
	<key>2</key>
	<string>Paladin</string>
	<key>3</key>
	<string>Hunter</string>
	<key>4</key>
	<string>Rogue</string>
	<key>5</key>
	<string>Priest</string>
	<key>6</key>
	<string>Death Knight</string>
	<key>7</key>
	<string>Shaman</string>
	<key>8</key>
	<string>Mage</string>
	<key>9</key>
	<string>Warlock</string>
	<key>11</key>
	<string>Druid</string>
</dict>
</plist>
